* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header contact information  */
.header-contact-info {

    background-color: #fdd835;
    display: flex;
    justify-content: flex-end;
    padding: 30px;
    gap: 20px;
}

.header-contact-info a {
    text-decoration: none;
    font-size: 35px;
    color: #4a148c;
}

.header-contact-info i {
    color: #4a148c;
}

/* header logo alingment  */
.header-logo {
    padding: 10px 0px 0px 90px;
}

/* banner alingmnet  */
.banner-image-overlay {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-image: url(img/0/top-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 1000px;
    width: 100%;
}

.banner-content {
    width: 1000px;
    padding: 0px 0px 0px 30px;
}

.banner-content h1 {
    color: #4a148c;
    font-size: 6rem;
}

.banner-content button {
    background-color: #fdd835;
    border: none;
    border-radius: 40px;
    box-shadow: 5px 5px 5px rgb(201, 201, 201);
    padding: 10px 60px;
    font-size: 45px;
    font-weight: 700;
    margin-top: 50px;

}

.hidden-image {
    display: none;
}

/* tablet */
@media (max-width:768px) {
    .header-contact-info a {
        display: none;
    }

    .header-logo {
        padding: 0px;
        display: flex;
        justify-content: center;

    }

    .header-logo img {
        width: 300px;
    }

    .banner-image-overlay {
        background: none;
        min-height: 0%;
        justify-content: center;
        text-align: center;
        padding: 20px;
    }

    .banner-content {
        max-width: 55%;
        padding: 0 10px;
        text-align: center;
    }

    .banner-content h1 {
        font-size: 2.5rem;
    }

    .banner-content button {
        padding: 10px 40px;
        font-size: 25px;
        font-weight: 900;
        margin-top: 30px;

    }

    .hidden-image {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/*  Mobile  */
@media (max-width: 575px) {
    .hidden-image img {
        width: 350px;

    }

    .banner-content {
        max-width: 100%;
        padding: 0 10px;
    }

    .banner-content h1 {
        font-size: 2rem;
    }
}

/* section two*/
.container-two {
    background-image: url(img/1/DOODLE\ 1.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.addmision-section {
    text-align: center;
    padding: 50px 20px;
    background: url("img/bg.png") no-repeat center/cover;
    font-family: Arial, sans-serif;
}

.addmision-section img {
    opacity: 0.5;
    width: 280px;
}

.addmision-section h2 {
    font-size: 4rem;
    line-height: 1.4;
    color: #4a148c;
}


.violet {
    color: #4a148c;

}

.yellow {
    display: block;
    color: #F9B233;
}

.voilet-to-yellow {
    width: 80px;
    height: 10px;
    background: linear-gradient(to right, #4a148c, #fdd835);
}

.addmision-section p {
    font-size: 2.7rem;
    color: #333;
    max-width: 60%;
    margin: 10px auto 0;
    line-height: 1.6;
}

/* section two grid layout  */
.flex-layout {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;

}

.flex-content {
    max-width: 600px;
    background-color: #fdd835;
    text-align: center;
    padding: 20px 80px;


}

.flex-layout p {
    padding: 0px 40px;
    font-size: 30px;
    line-height: 1.6;
}

/* register offer  */
.register-offer {
    margin: 50px 0px;
    background-color: #4a148c;
    color: #fdd835;
    max-width: 750px;
    padding: 20px 60px;
    text-align: center;
    border-radius: 20px;
}

.register-offer h4 {
    font-size: 3.3rem;
}

.register-offer p {
    font-size: 2.5rem;
}

/* tablet  */
@media (max-width: 768px) {
    .flex-layout {
        align-items: center;
        flex-wrap: nowrap;
    }

    .flex-content {
        max-width: 300px;
        flex-wrap: nowrap;
    }

    .flex-layout p {
        padding: 0px;
        font-size: 16px;
    }

    .addmision-section h2 {
        font-size: 2rem;
    }

    .addmision-section p {
        font-size: 1.5rem;
    }
}

/*  Mobile  */
@media (max-width: 575px) {
    .addmision-section img {
        opacity: 1;

    }

    .addmision-section h2 {
        font-size: 1.5rem;
    }

    .addmision-section p {
        font-size: 1rem;
    }

    .flex-layout {
        flex-direction: column;
    }

    .flex-layout p {
        font-size: 14px;
        line-height: 1.4;
    }

    .register-offer {
        margin: 0px;
        background-color: #4a148c;
        color: #fdd835;
        width: 350px;
        padding: 20px 60px;
        text-align: center;
        border-radius: 20px;
    }

    .register-offer h4 {
        font-size: 1.5rem;
    }

    .register-offer p {
        font-size: 1rem;
    }

}

/* section three  */

.container-three {
    background-image: url(img/2/gradient.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bold-text {
    max-width: 1200px;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
}

.lighter-text {
    margin: 40px 0px;
    color: #4a148c;
    max-width: 1200px;
    text-align: center;
    font-size: 2.2rem;
}

.grid-features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px 2px;
    text-align: center;
    padding: 40px 20px;
}

.feature-box {
    max-width: 400px;
}

.feature-box img {
    width: 130px;
    margin-bottom: 15px;
}

.feature-box p {
    padding: 0px 25px;
    font-size: 1.8rem;
    line-height: 1.5;

}

/* tablet */
@media (max-width: 768px) {
    .bold-text {
        font-size: 2rem;
    }

    .lighter-text {
        font-size: 1.2rem;
    }

    .grid-features {
        grid-template-columns: repeat(2, 1fr);

    }

    .feature-box img {
        width: 100px;
        margin-bottom: 15px;
    }

    .feature-box p {
        font-size: 1.2rem;

    }

}

/* mobile */
@media (max-width: 575px) {
    .bold-text {
        font-size: 1.5rem;
    }

    .lighter-text {
        font-size: 1.2rem;
    }

    .grid-features {
        margin-top: -20px;
        grid-template-columns: 1fr;
        gap: 20px 2px;
    }

    .feature-box img {
        width: 60px;
    }

    .feature-box p {
        font-size: 16px;
        font-weight: bold;
    }

    .register-offer {
        margin: 40px 0px;
    }
}

/* section four  */

.steps-to-work{
    background-image: url(img/1/DOODLE\ 1.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex-steps{
    display: flex;
    justify-content: center;

}
.flex-steps-reverse{
      display: flex;
    justify-content: center;
}
.steps-content{
    max-width: 700px; 
    margin: auto;
   text-align: left;
    background-color: #d5b6fa;
}
.bold-purple{
    font-size: 2.5rem;
    color: #4a148c;
    font-weight: bold;
    padding: 0px 80px;
}
.steps-yellow-content{
     max-width: 700px;
    margin: auto;
   text-align: right;
    background-color:#ecd362;
}
.lighter-text-black{
     margin: 30px 0px;
     padding: 0px 30px;
    color: #020202;
    max-width: 1200px;
    text-align: center;
    font-size: 2rem;
}
.steps-image img{
    max-width: 100%;
}
.features-section {
     background: linear-gradient( white ,rgb(231, 182, 243));
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 50px;
      padding: 50px 20px;
      flex-wrap: wrap;
    }

    .feature-box {
      max-width: 350px;
    }

    .feature-image {
      width: 160px;
      height: 160px;
      border-radius: 50%;
      background:#4a148c;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto 20px;
    
    }

    .feature-image img {
     width: 120px;
      
    }

    .feature-box h3 {
      font-size: 25px;
      font-weight: 700;
      margin-bottom: 10px;
    }

    .feature-box p {
      font-size: 20px;
      font-weight: bold;
      color: #4a148c;
      line-height: 1.6;
    }

   
@media (max-width: 768px) {
    .flex-steps{
        flex-direction: column;
        
    }
    .flex-steps-reverse{
        flex-direction: column-reverse;
    }
    .steps-to-work{
        gap: 30px;
    }
    .steps-yellow-content,
     .steps-content{
        text-align: center;
    }
    .lighter-text-black{
     margin: 10px 0px;
     padding: 0px 20px;
}
.steps-yellow-content,.steps-content{
    max-width: 495px; 
}
 .features-section {
        flex-direction: column;
        align-items: center;
      }
}
@media (max-width:575px){
    .bold-purple{
    font-size: 2rem;
    color: #4a148c;
    font-weight: bold;
    padding: 10px ;
}
 .steps-content,.steps-yellow-content{
        text-align: center;
    }
   .lighter-text-black{
    font-size: 1.2rem;
    font-weight: bold;
   }
}